<main>
    <div id="examiner-control">
        <div id="appointments">
            <div class="form-group">
                <label for="appointment-filter">User Type</label>
                <select class="form-select" name="appointment-filter" id="appointment-filter">
                  <option selected>Select</option>
                  <option value="All">All</option>
                  <option value="G">G test</option>
                  <option value="G2">G2 test</option>
                </select>
                <button type="button" id="filter-search" onclick="searchDrivers()">Search</button>
            </div>
            <div id="filter-result">

            </div>
        </div>
    </div>
</main>